body{
    background-color:#B57E93;
    position: relative;
    margin:auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition:ease-out .3s;
    width:auto;
    height:100dvh;
    overflow-y: hidden;
    overflow-x:hidden;
    background-image: url(DressupGame_Assets/Scenes/background3.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 50px #5914374d;
    padding-top: 3px;
    user-select: none;

}

@font-face {
    font-family: zainreg;
    src: url(Zain/Zain-Regular.ttf);
}
@font-face {
    font-family: zainbold;
    src: url(Zain/Zain-Bold.ttf);
}
@font-face {
    font-family: zainboldx;
    src: url(Zain/Zain-ExtraBold.ttf);
}
@font-face {
    font-family: zainlight;
    src: url(Zain/Zain-LightItalic.ttf);
}


#gamecontain{
    max-width:380px;
    min-width:380px;
    margin:auto;
    height:85vh;
    max-height:453px;
    min-height:453px;
    width:auto;
    display:flex;
    flex-direction: column;
    position:relative;
    background-color: #C7A4B0;
    transition:ease-out .3s;
    scroll-snap-type: y mandatory;
    border-radius:10px;
    overflow-x: hidden;
    overflow-y: hidden;
}



#border{
    max-width:390px;
    min-width:390px;
    margin:auto;
    height:85vh;
    max-height:457px;
    min-height:457px;
    left:0;
    right:0;
    width:auto;
    background:linear-gradient(180deg, #DFB6C6 1%, #C7A4B0 2.68%, #A76E88 4.92%, #AD7890 73.27%, #BD8BA0 99.61%);
    background-attachment:fixed;
    position:relative;
    border-radius:10px;
    padding-top:5px;
    box-shadow: 2px 5px 20px -8px #412b55;
    -webkit-box-shadow: 2px 5px 20px -8px #412b55;
    -moz-box-shadow: 2px 5px 20px -8px #412b55;
    overflow-y: hidden;
}
#infoborder{
    max-width:390px;
    min-width:390px;
    margin:auto;
    height:85vh;
    max-height:685px;
    min-height:687px;
    left:0;
    right:0;
    width:auto;
    background:linear-gradient(180deg, #DFB6C6 1%, #C7A4B0 2.68%, #A76E88 4.92%, #AD7890 73.27%, #BD8BA0 99.61%);
    background-attachment:fixed;
    position:relative;
    border-radius:10px;
    padding-top:5px;
     box-shadow: 2px 5px 20px -8px #412b55b9;
    -webkit-box-shadow: 2px 5px 20px -8px #412b55b9;
    -moz-box-shadow: 2px 5px 20px -8px #412b55b9;
    overflow-y: hidden;
}
#infogamecontain{
    max-width:380px;
    min-width:380px;
    margin:auto;
    height:85vh;
    max-height:681px;
    min-height:681px;
    width:auto;
    display:flex;
    flex-direction: column;
    position:relative;
    background-color: #C7A4B0;
    transition:ease-out .3s;
    scroll-snap-type: y mandatory;
    border-radius:10px;
    overflow-x: hidden;
    overflow-y: hidden;
}
@media screen and (max-width:400px){
    #border{
        max-width:360px;
        min-width:360px;
    }
    #gamecontain{
        max-width:350px;
        min-width:350px;
    }
    #infoborder{
        max-width:30px;
        min-width:360px;
        max-height:657px;
        min-height:657px;
    }
    #infogamecontain{
        max-width:350px;
        min-width:350px;
        max-height:650px;
        min-height:650px;
    }
}

.topitemcontainer{
    width:auto;
    height:auto;
    margin:0;
    position:sticky;
    top:0;
    object-fit: cover;
    border-radius:10px;
}


#beautyparlour{
    background-color:#d9d9d9;
    background-size:cover;
    width:auto;
    height:455px;
    margin:auto;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    position: relative;
    box-shadow: inset -1px 0px 2px 1px #9c678256;
}


#colors{
    width:70px;
    height:379px;
    margin:auto;
    display:flex;
    flex-direction:column;
    position: absolute;
    background-color: #C7A4B0;
    padding-left:5px;
    padding-right:5px;
    z-index: 2;
    bottom:0;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
    transition: ease-out .3s;
}

.colordisplay{
    flex:100%;
    width:auto;
    height:70px;
    background-color:#B88B9B;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    
}


.coloroptions{
    width:30px;
    height:30px;
    border-radius: 3px;
    box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition:ease-out .2s;
    cursor: pointer;
    position: relative;
    
}
.coloroption{
    width:30px;
    height:30px;
    border-radius: 3px;
    display:none;
    transition:ease-out .2s;
    box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    position:absolute;
}

.outline,
.coloroption:hover{
   outline:3px solid #96476f;
}

.skincolorsdisplay,
.eyecolorsdisplay,
.haircolorsdisplay,
.browcolorsdisplay,
.lipcolorsdisplay,
.blushcolorsdisplay,
.topscolorsdisplay,
.bgcolorsdisplay{
    width:30px;
    height:30px;
    border-radius: 3px;
    box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition:ease-out .3s;
    position:absolute;
    margin:auto;
    display:none;

    
}

.front, .back{
    width:30px;
    height:30px;
    border-radius: 3px;
    box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition:ease-out .3s;
    position:relative;
    margin:auto;
    
}

.front{
    background-color:rgb(241, 241, 241);
    top:13px;
    left:-7px;
    width:30px;
    height:30px;
    z-index:2;
    cursor:pointer;
}

.back{
    background-color:rgb(0, 0, 0);
     right:-7px;
}

.itemcontainer{
    width: auto;
    height: auto;
    margin: auto;
    scroll-snap-align: center;
    margin-bottom: 33px;
}

.optiontitle{
    font-weight: bold;
    text-align: center;
    font-family: zainboldx;
    font-size: 16px;
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #561a39;
}

#options{
    overscroll-behavior-y: contain;
    scroll-snap-type: x mandatory;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: ease-out .3s;
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top:8px;
}

 #options::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

.optioncontainer{
    padding: 0;
    height: 108px;
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    border-radius: 5px;
    gap: 10px;
    margin: auto;
}


.padding{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    height: 110px;
    width:368px;
    display: block;
    border-radius: 10px;
    margin: auto;
    border:1px solid #c99fb2;
    background: linear-gradient(180deg, #dfb5c5 20.19%, #BE9CA7 67.31%, #BD879E 100%);
    box-shadow: 2px 4px 15px -8px #412b55;
    -webkit-box-shadow: 2px 4px 15px -8px #412b55;
    -moz-box-shadow: 2px 4px 15px -8px #412b55;
}



.beautyoptionsskin{
    width: 104px;
    z-index: 2;
    height:80px;
    background-color:#fbeff6;
    scroll-snap-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition:ease-out .3s;
    cursor: pointer;
    background-size: 450px;
    background-position: center;
    background-position-y: -40px;
    cursor:pointer;
}

.beautyoptionseyes{
    width: 104px;
    z-index: 2;
    height:80px;
    background-color:#fbeff6;
    scroll-snap-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition:ease-out .3s;
    cursor: pointer;
    background-size: 1000px;
    background-position: center;
    background-position-y: -155px;
    background-position-x: -424px;
    cursor:pointer;
}

.beautyoptionsbrows{
    width: 104px;
    z-index: 2;
    height:80px;
    background-color:#fbeff6;
    scroll-snap-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition:ease-out .3s;
    cursor: pointer;
    background-size: 1000px;
    background-position: center;
    background-position-y: -140px;
    background-position-x: -416px;
    cursor:pointer;
}

.beautyoptionsnose{
    width: 104px;
    z-index: 2;
    height:80px;
    background-color:#fbeff6;
    scroll-snap-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition:ease-out .3s;
    cursor: pointer;
    background-size: 1400px;
    background-position: center;
    background-position-y: -260px;
    background-position-x: -613px;
    cursor:pointer;
}

.beautyoptionslips{
    width: 104px;
    z-index: 2;
    height:80px;
    background-color:#fbeff6;
    scroll-snap-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition:ease-out .3s;
    cursor: pointer;
    background-size: 1200px;
    background-position: center;
    background-position-y: -243px;
    background-position-x: -528px;
    cursor:pointer;
}

.beautyoptionshair{
    width: 104px;
    z-index: 2;
    height:80px;
    background-color:#fbeff6;
    scroll-snap-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition:ease-out .3s;
    cursor: pointer;
    background-size: 280px;
    background-position: center;
    background-position-y: -10px;
    background-position-x: -90px;
    cursor:pointer;
}

.beautyoptionsmakeup{
    width: 104px;
    z-index: 2;
    height:80px;
    background-color:#fbeff6;
    scroll-snap-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition:ease-out .3s;
    cursor: pointer;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}
.beautyoptionstops{
    width: 104px;
    z-index: 2;
    height:80px;
    background-color:#fbeff6;
    scroll-snap-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition:ease-out .3s;
    cursor: pointer;
    background-size: 250%;
    background-position-y: -70px;
    background-position-x: -90px;
    background-repeat: no-repeat;
    cursor:pointer;
}
.beautyoptionsjewelry{
    width: 104px;
    z-index: 2;
    height:80px;
    background-color:#fbeff6;
    scroll-snap-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition:ease-out .3s;
    cursor: pointer;
    background-size: 1400px;
    background-position: center;
    background-position-y: -260px;
    background-position-x: -618px;
    cursor:pointer;
}
.beautyoptionsbg{
    width: 104px;
    z-index: 2;
    height:80px;
    background-color:#fbeff6;
    scroll-snap-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition:ease-out .3s;
    cursor: pointer;
    background-size: cover;
    background-position: 20%;
    cursor:pointer;
}

.active,
.beautyoptionsskin:hover,
.beautyoptionseyes:hover,
.beautyoptionsbrows:hover,
.beautyoptionsnose:hover,
.beautyoptionslips:hover,
.beautyoptionshair:hover,
.beautyoptionsmakeup:hover,
.beautyoptionsjewelry:hover,
.beautyoptionstops:hover,
.beautyoptionsbg:hover{
   background-color: #d3dae5;
   border-bottom: #ac5883 2px solid;
}


@media screen and (max-width:396px){
.beautyoptionsskin{
    width:93px;
    height: 70px;
    background-position-y: -50px;
    }
}
@media screen and (max-width:396px){
.beautyoptionseyes{
        width: 103px;
        background-position-x: -430px;
        background-position-y: -160px;
        height: 70px;
    }
}
@media screen and (max-width:396px){
.beautyoptionsbrows{
    width:93px;
    background-position-x: -423px;
    background-position-y: -145px;
    height: 70px;
    }
}
@media screen and (max-width:396px){
.beautyoptionsnose{
    width:93px;
    background-position-x: -618px;
    background-position-y: -265px;
    height: 70px;
    }
}
@media screen and (max-width:396px){
.beautyoptionslips{
    width:93px;
    background-position-x: -533px;
    background-position-y: -248px;
    height: 70px;
    }
}
@media screen and (max-width:396px){
.beautyoptionshair{
    width:93px;
    background-position-x: -95px;
    background-position-y: -13px;
    height: 70px;
    }
}

@media screen and (max-width:396px){
.beautyoptionsjewelry{
    width:93px;
    height: 70px;
    }
.beautyoptionsbg{
    width:93px;
    height: 70px;
    }
    
.beautyoptionstops{
    width:93px;
    height: 70px;
    background-position-y: -64px;
    background-position-x: -79px;
    }
.beautyoptionsmakeup{
    width:93px;
    height: 70px;
    }
}


#menu{
    width: auto;
    height:30px;
    background-color: #C7A4B0;
    display:flex;
    flex-direction: row;
    margin-top:-7px;
    border-top:solid 7px #a76e88;
    box-shadow: -1px 0px 2px 1px #9c678256;
}

#infomenu{
    width: auto;
    height:30px;
    background-color: #C7A4B0;
    display:flex;
    flex-direction: row;
    margin-top:-7px;
    border-top:solid 7px #a76e88;
    box-shadow: -1px 0px 2px 1px #9c678256;
}


.menubutton,
.menusongs{
    width:auto;
    height:30px;
    background-color:#C7A4B0;
    color:#380225;
    text-align:center;
    font-size:14px;
    align-content: center;
    z-index:3;
    transition:ease-out .3s;
    cursor: pointer;
    transition:ease-out .3s;
    cursor: pointer;
    padding-left:5px;
    padding-right:5px;
    
}


.menuoverlay{
    width:auto;
    color:#380225;
    text-align:center;
    font-size:14px;
    align-content: center;
    z-index:3;
    transition:ease-out .3s;
    cursor: pointer;
    cursor: pointer;
    position:absolute;
    top:77px;
    margin-left:-5px;
}

.menubutton:hover,
.menuoverlay:hover,
.menusongs:hover,
.menusongs:active{
    background-color:#b18393;
}
.menuoverlay {
  display: none;
  
}
.menubutton.open .menuoverlay {
  display: block;
}

.menusongs{
    padding-left:5px;
    padding-right:5px;
    width:auto;
    text-align:left;
}
#banner{
    width: auto;
    height:30px;
    background:  linear-gradient(180deg, #AA6E82 0%, #A35B7E 44.06%, #964B71 47.89%, #A45F82 93.86%);
    box-shadow: inset 0px 1px 4px #833e61d2;
    display:flex;
    flex-direction: row;
    padding:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    margin-bottom:7px;
    color:white;
    justify-content: space-between;
}

#dollilogo{
    transform: scale(1.2,1.2);
    margin-left:5px;
    margin-bottom:3px;
    width:auto;
    height:auto;
    position:relative;
}



.nav{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-bottom: 0;
    padding-top: 0;
    left: 0;
    right: 0;
    width: 390px;
    height: 80px;
    z-index: 3;
    background-size: cover;
}

.navbutton{
    width: 64px;
    height: 28px;
    transition: ease-out .3s;
    border-radius: 8px;
    filter: brightness(1);
    background-color:#a16588 ;
    border-bottom:#984871 solid 3px;
    box-shadow: 2px 7px 8px -8px #412b55;
    -webkit-box-shadow: 2px 7px 8px -8px #412b55;
    -moz-box-shadow: 2px 7px 8px -8px;

}

.navbutton.active,
.navbutton:hover,
.next:hover{
    outline: 2px solid #984871 ;
    cursor: pointer;
}


.navbuttoncontainer{
    position: relative;
    display: flex;
    gap: 10px;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 6px;
}

@media screen and (max-width:396px){
.navbutton{
  width:17%;
  height: auto;
    }
.nav{
  padding-bottom:2px;
  width:360px;
    }
.navbuttoncontainer{
    gap:11px;
    margin-top: 10px;
    }
}


::-webkit-scrollbar {
  width: 10px;
  height:10px;
  box-shadow: 2px 8px 28px -8px #412b55;
  -webkit-box-shadow: 2px 8px 28px -8px #412b55;
  -moz-box-shadow: 2px 8px 28px -8px #412b55;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #7f58785c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #9c5378;
  border: 1px solid #91486e;  
}


#update{
    color:white;
    text-align: right;
    font-size:12px;
    margin-top: 7px;
    margin-right:5px;
}
img.skins,
img.darkeyes,
img.lighteyes,
img.nosedark,
img.noselight,
img.eyebrows,
img.hairstyles,
img.lips,
img.blushes,
img.tops{
    width: 1000px;
    height: 410px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 55%;
    left:60%;
    transform: translate(-50%, -50%);
    margin:auto;
    display:none;

}

img.blushes{
    z-index:0;
}
img.hairstyles{
    margin-left: -.3px;
    z-index: 1;
}


.eyeshape,
.hairshape,
.browshape,
.lipshape,
.topstyle,
.blushshape{
    display:block;
}


.labelicon{
    width:30px;
    height:auto;
    margin-top:-4px;
}

#helpbutton{
    position: relative;
    top: 2px;
    cursor: pointer;
    transition:ease-out .3s;
    margin-right:5px;
}

#exitbutton{
    position: relative;
    top: 2px;
    cursor: pointer;
    transition:ease-out .3s;
    margin-right:5px;
}

#helpbutton:hover,
#exitbutton:hover{
   filter:contrast(1.2);
}

.caption{
    color:#974d73;
    text-align: center;
    font-style: italic;
    padding:8px;
    margin-top:7px;
}

#opacitypicker,#colorpicker{
    position: inherit;
    margin-left:70px;
}

.inputcontainer{
    position: absolute;
    display: flex;
    left: 75px;
    flex-direction: row;
    width: 200px;
    height: 21px;
    padding: 5px;
    border-radius: 5px;
    background-color: #c7a4b0c9;
    margin-left: -2px;
}

.inputlabel{
    position: inherit;
    padding: 0;
    margin: 0;
    margin-top: -2px;
    margin-left: 5px;
    font-family: Zainbold;
    color:#561a39;
}


#loadingoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B57E93;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(DressupGame_Assets/Scenes/background3.jpg);
  background-size: cover;
  box-shadow: inset 0px 0px 50px #5914374d;
}

#loadingbar {
  display: flex;
  gap: 5px;
  padding: 10px;
  background: #89436771;
  box-shadow: inset 0px 0px 5px 4px #a95b86a8, inset 1px 4px 4px 4px #6b2144ba;
  border-radius: 20px;
  border-start-end-radius: 20px;
  border-end-end-radius: 20px;
  border-start-start-radius: 20px;
  border-end-start-radius: 20px;
  border:solid 4px #a95b86a8;
  margin: auto;
  margin-top:-65px;
}

.block {
  width: 30px;
  height: 60px;
  animation: slide 1.5s infinite;
  border-radius: 5px;

}


.block:nth-child(1) { animation-delay: 0s; }
.block:nth-child(2) { animation-delay: 0.2s; }
.block:nth-child(3) { animation-delay: 0.4s; }
.block:nth-child(4) { animation-delay: 0.6s; }
.block:nth-child(5) { animation-delay: 0.8s; }
.block:nth-child(6)  { animation-delay: 1.0s; }
.block:nth-child(7)  { animation-delay: 1.2s; }
.block:nth-child(8)  { animation-delay: 1.4s; }
.block:nth-child(9)  { animation-delay: 1.6s; }
.block:nth-child(10) { animation-delay: 1.8s; }

@keyframes slide {
  0%, 100% { background: #74325900; }
  25%, 50% { background: linear-gradient(180deg, #DAB3C2 0%, #C08FA1 44.06%, #B3798F 47.89%, #B47E93 93.86%);}
}

#loadlogo{
    width:100%;
    max-width: 700px;
    min-width:300px;
    height:auto;
    position:relative;
    margin: auto;
}

span{
    font-family: zainbold;
    margin-bottom:15px;
    color:white;
}

.musictoggle{
   
    width: 30px;
    height: 30px;
    position: relative;
    margin: auto;
    margin-right: 10px;
    transition:ease-out .3s;
    z-index:10;
    background-image: url(DressupGame_Assets/Button_Icons/sound_mute_fill@2x.png);
    background-size: cover;
    cursor: pointer;
    filter: brightness(.9);
}

.musictoggle {
  background-image: url(DressupGame_Assets/Button_Icons/sound_mute_fill@2x.png);
}

.musictoggle.muted{
  background-image: url(DressupGame_Assets/Button_Icons/sound_max_fill@2x.png);
  filter: brightness(1);
}

.musictoggle:hover{
    filter: brightness(1);
}

.star{
    width: 14px;
    height:14px;
    position: relative;
    margin-left:18px;
    margin-right:10px;
    margin-top: 10px;
    padding:0;
}

#bannertitle{
    padding: 0;
    text-align: left;
    font-family: zainbold;
    line-height: 0;
    margin-top:19px;
    margin-left:10px;
    flex:10%;
}

#infooverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  display: none;
  padding-top: 3px;
  user-select: none;
  background-color:#6b4c732b;
}


.link{

    border-radius: 7px;
    background: linear-gradient(180deg, #C094A4 0%, #C08FA1 44.06%, #C0829A 47.89%, #B57E93 93.86%);
    text-align: center;
    transition:ease-out .3s;
    cursor: pointer;
    box-shadow: 1px 1px 3px #8c4d6ded;
    margin-left:5px;
    padding-top:1px;
    box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
    -webkit-box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
    -moz-box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
}

.link:hover{
  outline: 2px solid #96476f;
}

.copyright{
    transform: rotate(90deg);
    position: absolute;
    font-size: small;
    margin-top: 280px;
    margin-left: 15px;
    color: #984d73;
    text-shadow: 0 0 8px #aca5a6;
    font-family: 'zainbold';
}

.bottombox{
    width:390px;
    margin:auto;
}
@media screen and (max-width:396px){
.bottombox{
    width:360px;
 
    }
}

.next{
    position: relative;
    width: 8px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 78px;
    flex: auto;
    background: linear-gradient(180deg, #AA6E82 0%, #A35B7E 44.06%, #964B71 47.89%, #A45F82 93.86%);
    border-radius: 6px;
    border-bottom: #984871 solid 3px;
    display: flex;
    align-items: center;
    box-shadow: 1px 4px 10px -10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 4px 10px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 4px 10px -10px rgba(0,0,0,1);
    transition: ease-out .3s;
    cursor: pointer;
}

.optionnav{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 379px;
    gap: 341px;
    margin: auto;
    margin-top:28px;
    z-index: 1;
    left: 0;
    right: 0;
    justify-content: space-between;
}

@media screen and (max-width:396px){
.padding{
    height:100px;
    width:339px;
    }
.optioncontainer{
    height: 90px;
    gap: 11px;
    width:302px;
}
.optionnav{
    width: 351px;
    gap: 310px;
    margin-top:28px;
}
.next{
    height:66px;
}

}