


#infobox{
    background-color:#d9d9d9;
    background-size:cover;
    width:auto;
    height:100%;
    margin:auto;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    position: relative;
    box-shadow: inset -1px 0px 2px 1px #9c678256;
    display: block;
}

.infocontainer{
    width:auto;
    height:587px;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    flex-wrap: wrap;
    padding:10px;
    overflow-x: hidden;
}

h3{
    line-height: 0;
    color:#96296C;
    font-family: zainbold;
}

.desc{
   font-size: 16px;
   color:#535353;
   display:flex;
   flex-direction: column;
   padding-right:10px;
}

.descsections{
    overflow-y: auto;
    height: 575px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 360px;
}

@media screen and (max-width:396px){
.descsections{
    height:545px;
    width:330px;
    }
}

ul{
    color:#535353;
    margin-left: -5px;
    list-style: none;
    list-style-image: url(DressupGame_Assets/Button_Icons/starpoint.png);
}

b{
    font-family: zainbold;
    color:#96296C;
}

li { 
    
    width:300px;
}
@media screen and (max-width:396px){
li{
    width:260px;
    }
}

table{
    width:330px;
    margin-top:-20px;
    color:#535353;
}

@media screen and (max-width:396px){
table{
    width:300px;
    }
}

td{
    align-content: start;
}

a{
    color:#841b5c ;
    font-size:16px;
    height:20px;
    padding:10px;
    font-family: zainreg;
    text-decoration: none;
}

.link{

    border-radius: 7px;
    background: linear-gradient(180deg, #C094A4 0%, #C08FA1 44.06%, #C0829A 47.89%, #B57E93 93.86%);
    text-align: center;
    transition:ease-out .3s;
    cursor: pointer;
    box-shadow: 1px 1px 3px #8c4d6ded;
    margin-left:5px;
    padding-top:1px;
    box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
    -webkit-box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
    -moz-box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
    
}

.link:hover{
  outline: 2px solid #96476f;
}

#applogo{
    width:75px;
    height:75px;
    border-radius:8px;
    box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
    -webkit-box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
    -moz-box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);

    
   
}

.functionimgs{
    border-radius: 7px;
    transform:scale(.7,.7);
    box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
    -webkit-box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
    -moz-box-shadow: 2px 8px 19px -7px rgba(124,26,84,0.75);
}

form{
    display:flex;
    flex-direction: column;

}



#name,#email,#message{
  border-radius:5px;
  height:25px;
  width:auto;
  resize:none;
  border: none;
  margin-bottom:10px;
  margin-top:8px;
  padding:8px;
  box-shadow: inset 0px 1px 5px rgba(156, 103, 130, 0.38);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:14px;
  background-color:#e9e9e9;
}


#message{
    height:175px;
    overflow-y: auto;
    
}


@media screen and (max-width:396px){
#message{
    height:140px;
    }
}

#send{
    border:none;
    font-family:zainbold;
    font-size:16px;
    color:white;
    background: linear-gradient(180deg, #AA6E82 0%, #A35B7E 44.06%, #964B71 47.89%, #A45F82 93.86%); ;
    border-radius:5px;
    padding:5px;
    width:98%;
}

label{
    color:#96296C;
    font-family: zainreg;
    line-height: 1.4;
}
input:focus, textarea:focus{
    outline: none;
    border: none;
}

input[type=text],
input[type=email],
textarea{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.5;
   font-size:13px;
}